:root {
  --main-color: #333;
  --second-color: #eee;
  --red: rgba(80, 0, 0, 1);
  --red-content: rgb(100, 0, 0);
  --green: rgb(0, 100, 100);
  --green-content: rgb(0, 128, 128);
  --violet: rgba(50, 40, 100, 1);
  --violet-content: rgba(60, 50, 110, 1);
}
